<div class="overlay ">
</div>
<div class="container p-4 mb-3 h-100 position-relative d-flex align-items-center">
  <div class="row ">
    <div data-aos="fade-right" data-aos-duration="1200" class="col-xl-4">
      <img class="w-100 h-100" src="assets/inages/edu.jpg" alt="">
    </div>
    <div data-aos="fade-left" data-aos-delay="1000" data-aos-duration="1000" [ngClass]="isDark?'bg-dark text-white':'bg-white text-black'" class="col-xl-8 row p-0 px-2">
      <div data-aos="flip-left" data-aos-delay="2000" data-aos-duration="1000" class="edu-contain col-md-6">
        <div class="edu-info">
          <span  class="bg-icons px-3 py-1 ">.02</span>
          <h3 class="fs-6 mt-3 fw-bold">Higher Institutes Of King Marriott</h3>
          <p class="mt-2">Sept 2020 - July 2023 </p>
        </div>
        <div class="desc pt-2">
          <p class="my-2">Higher Institute of Computer and Management information system</p>
          <p><span>Address</span>: King Marriott </p>
        </div>
      </div>
      <div data-aos="flip-right" data-aos-delay="1300" data-aos-duration="1000" class="edu-contain col-md-6">
        <div  class="edu-info">
          <span class="bg-icons px-3 py-1 ">.01</span>
          <h3 class="fs-6 mt-3 fw-bold">Route Acadamy</h3>
          <p class="m-0 mt-2">Feb 2020 - July 2020 <span class="fs-6">Mini ITI Track</span> </p>
          <p class="m-0">Feb 2020 - July 2020 <span class="fs-6">Front-End Track</span> </p>
        </div>
        <div class="desc pt-2">
          <p class="my-2">Route is an Egyptian IT-Training Center founded in 2012 We have identified the unique challenges people may face in
          learning a new technology and have exerted efforts in providing strategies to overcome them. We welcome your
          participation in our training</p>
        </div>
      </div>
    </div>
  </div>
</div>
