.links {
  display: flex;
  a {
    transition: all 1s;
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    margin-right: 10px;

    &:hover {
      background-color: #49adf0 !important;
      color: white;
      animation: upDown 1s;
      -webkit-animation: upDown .5s 2 ease-in-out;

      i {
        color: white;
      }
    }

    i {
      font-size: 1.5rem;
    }
  }
}



@keyframes upDown {
  0% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}


.form .form-control{
  border: 1px solid rgb(238, 238, 238) ;
  font-weight: 500;
  font-size: 1rem;
  resize: none;
  margin-bottom: 1rem;
}
