.col{
  cursor: pointer;
  &:hover img{
    transform: scale(120%);
    -webkit-transform: scale(120%);
    -moz-transform: scale(120%);
    -ms-transform: scale(120%);
    -o-transform: scale(120%);
  }
  .over{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 0px;
    height: 0px;
    opacity: 0;
    transition: all .8s ;
    -webkit-transition: all .8s ;
    -moz-transition: all .8s ;
    -ms-transition: all .8s ;
    -o-transition: all .8s ;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}
  &:hover  .over{
    width: 100%;
    height: 100%;
    opacity: .8;
  }
  img{
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
  }
}


.row{
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.swiper-pagination .swiper-pagination-bullet{
  width: 30px !important;
  height: 30px !important;
}