<div class="overlay">
</div>
<div class="container h-100  p-5 d-flex align-items-center justify-content-center">
  <div class="row w-100">
    <div [ngClass]="!isDark?'bg-white text-dark':'bg-dark text-white'" data-aos="fade-up" data-aos-duration="1500" class="col-xl-4   p-5">
      <h3 class="text-center mb-3">PROFESSIONAL</h3>
      <div class="bar-item">
        <div class="skill-info">
          <span>HTML5</span>
          <div>
            <span class="counter" [CountTo]="95" [duration]="2">0</span>%
          </div>

        </div>
        <div class="skill-bar"></div>
            <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'95'}}" ></div>
      </div>
      <div class="bar-item">
        <div class="skill-info">
          <span>CSS3</span>
          <div>
            <span class="counter" [CountTo]="90" [duration]="2">0</span>%
          </div>
        </div>
        <div class="skill-bar"></div>
            <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'90'}}"  ></div>
      </div>
      <div class="bar-item">
        <div class="skill-info">
          <span>BOOTSTRAP</span>
          <div>
            <span class="counter" [CountTo]="95" [duration]="2">0</span>%
          </div>
        </div>
        <div class="skill-bar"></div>
            <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'95'}}"  ></div>
      </div>
      <div class="bar-item">
        <div class="skill-info">
          <span>JS/ES6</span>
          <div>
            <span class="counter" [CountTo]="85" [duration]="2">0</span>%
          </div>
        </div>
        <div class="skill-bar"></div>
            <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'85'}}"  ></div>
      </div>
      <div class="bar-item">
        <div class="skill-info">
          <span>SASS/SCSS</span>
          <div>
            <span class="counter" [CountTo]="80" [duration]="2">0</span>%
          </div>
        </div>
        <div class="skill-bar"></div>
            <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'80'}}"  ></div>
      </div>
      <div class="bar-item">
        <div class="skill-info">
          <span>JQUERY</span>
          <div>
            <span class="counter" [CountTo]="85" [duration]="2">0</span>%
          </div>
        </div>
        <div class="skill-bar"></div>
            <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'85'}}"  ></div>
      </div>
      <div class="bar-item">
        <div class="skill-info">
          <span>ANGULAR 2+</span>
          <div>
            <span class="counter" [CountTo]="80" [duration]="2">0</span>%
          </div>
        </div>
        <div class="skill-bar"></div>
            <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'85'}}"  ></div>
      </div>
    </div>
    <div [ngClass]="!isDark?'bg-white text-dark':'bg-dark text-white'" data-aos="fade-down" data-aos-duration="1500" class="col-xl-4  p-5">
      <h3 class="text-center mb-3">PERSONAL</h3>
        <div class="bar-item">
          <div class="skill-info">
            <span>COMMUNICATION</span>
            <div>
              <span class="counter" [CountTo]="95" [duration]="2">0</span>%
            </div>

          </div>
          <div class="skill-bar"></div>
          <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'95'}}"></div>
        </div>
        <div class="bar-item">
          <div class="skill-info">
            <span>TEAM WORK</span>
            <div>
              <span class="counter" [CountTo]="90" [duration]="2">0</span>%
            </div>

          </div>
          <div class="skill-bar"></div>
          <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'90'}}"></div>
        </div>
        <div class="bar-item">
          <div class="skill-info">
            <span>HARD WORK</span>
            <div>
              <span class="counter" [CountTo]="95" [duration]="2">0</span>%
            </div>

          </div>
          <div class="skill-bar"></div>
          <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'95'}}"></div>
        </div>
        <div class="bar-item">
          <div class="skill-info">
            <span>CREATIVITY</span>
            <div>
              <span class="counter" [CountTo]="90" [duration]="2">0</span>%
            </div>

          </div>
          <div class="skill-bar"></div>
          <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'90'}}"></div>
        </div>
        <div class="bar-item">
          <div class="skill-info">
            <span>SELF LEARNING</span>
            <div>
              <span class="counter" [CountTo]="90" [duration]="2">0</span>%
            </div>

          </div>
          <div class="skill-bar"></div>
          <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'90'}}"></div>
        </div>
    </div>
    <div [ngClass]="!isDark?'bg-white text-dark':'bg-dark text-white'" data-aos="fade-up" data-aos-duration="1500" class="col-xl-4  p-5">
      <h3 class="text-center mb-3">EXTRA</h3>
      <div class="bar-item">
        <div class="skill-info">
          <span>GITHUB</span>
          <div>
            <span class="counter" [CountTo]="85" [duration]="2">0</span>%
          </div>
      
        </div>
        <div class="skill-bar"></div>
        <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'85'}}"></div>
      </div>
      <div class="bar-item">
        <div class="skill-info">
          <span>REST APIS</span>
          <div>
            <span class="counter" [CountTo]="90" [duration]="2">0</span>%
          </div>
      
        </div>
        <div class="skill-bar"></div>
        <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'90'}}"></div>
      </div>
      <div class="bar-item">
        <div class="skill-info">
          <span>REGULAR EXPRESSION</span>
          <div>
            <span class="counter" [CountTo]="90" [duration]="2">0</span>%
          </div>
      
        </div>
        <div class="skill-bar"></div>
        <div class="skill-bar-bg" [@progressState]="{value:state,params:{width:'90'}}"></div>
      </div>
    </div>
  </div>
</div>
